<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="PLSE_FoxPro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="PLSE" connectionString="Data Source=.\SIRSERVER;Initial Catalog=PLSE_New;Integrated Security=True;Connect Timeout=5"/>
	</connectionStrings>
 <userSettings>
  <PLSE_FoxPro.Properties.Settings>
   <setting name="InicalFolderPath" serializeAs="String">
    <value />
   </setting>
   <setting name="WarnLeftDaysExpTreshold" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="WarnDaysOnRequestTreshold" serializeAs="String">
    <value>27</value>
   </setting>
   <setting name="IsExpertSpecialityScan" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IsExpertiseScan" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IsShowNotification" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IsLastLoginSave" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LastLogin" serializeAs="String">
    <value />
   </setting>
  </PLSE_FoxPro.Properties.Settings>
 </userSettings>
</configuration>